@keyframes shake {
    0% {transform: translateX(0)}
    25% {transform: translateX(-15px)}
    50% {transform: translateX(0)}
    75% {transform: translateX(15px)}
    100% {transform: translateX(0)}
}

.ba_showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 15vw;
    position: fixed;
    bottom: 1%;
    left: 1%;
}

.ba_characters {
    user-select: none;
    width: inherit;
    max-width: 15vw;
    max-height: 45vh;
}

.bubbleBorder {
    width: inherit;
    height: fit-content;
    border-radius: 10px;
    margin-bottom: 20px;
}

.bubbleText {
    max-width: 15vw;
    height: fit-content;
    margin: 10px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
} 
