@keyframes shake {
    0% {transform: translateX(0)}
    25% {transform: translateX(-15px)}
    50% {transform: translateX(0)}
    75% {transform: translateX(15px)}
    100% {transform: translateX(0)}
}

.ba_showcase {
    position: fixed;
    bottom: 1%;
    left: 1%;
    width: 250px;
    z-index: -2;
}

.ba_characters {
    width: 200px;
    height: auto;
}

.bubbleBorder {
    width: inherit;
    height: fit-content;
    border-radius: 10px;
    margin-bottom: 20px;
}

.bubbleText {
    width: 230px;
    height: fit-content;
    margin: 10px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}

.parallax-window {
    z-index: -1;
}
