@keyframes shake {
  0% {transform: translateX(0);}
  25%{transform:translateX(20px);}
  50%{transform:translateX(0);}
  75%{transform:translateX(-20px);}
  100%{transform:translateX(0);}
}

.ba_showcase {
  position: fixed;
  bottom: 1%;
  left: 1%;
  z-index: -2;
  animation-iteration-count: 2;
}

.ba_characters {
  width: 200px;
  height: auto;
}
